{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <title>Login</title>
        <h1 class = "text-center">Login</h1>

        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Username: <input class = "form-control" type="text" name="username" value="" size="50" placeholder="Username"/>
            <br />
            Password: <input class = "form-control" type="password" name="password" value="" size="50" placeholder="Password"/>
            <br />

            <input type ="checkbox" value="Remember me"> Remember me <br /> <br />
            <input type="submit" value="submit" />
        </form>

    </div>
{% endblock content %}